@{
    ViewBag.Title = "Search";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index","Search",FormMethod.Get))
{
    <p> Search: @Html.TextBox("SearchString") <br />   
    <input type="submit" value="Filter" /></p> 
}

    <table>
    <head></head>
    @for (int i = 0; i < ViewBag.textResults.Count; i++)
    {
        <tr>
            <td><img src=@ViewBag.imageUrls[i] /></td>
            <td>@ViewBag.textResults[i]</td>
        </tr>
    }
    </table>


<!--
<img src=@ViewBag.imageUrl />
<p>@ViewBag.textResult_raw</p>
<p>@ViewBag.textResult_html</p>
<p>@ViewBag.textResult_plain</p>-->


