@model SearchApp.Models.Domains
@{
    ViewBag.Title = "Search";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index","Search",FormMethod.Get))
{
    <p> Search: @Html.TextBox("SearchString") 

    @Html.LabelFor(model => model.ID, "Domain")
    @Html.DropDownList("Domains", String.Empty)

    <input type="submit" value="Search" /></p>
}


<table>
@for (int i = 0; i < ViewBag.results.Count; i++)
{
    <tr>
        <td><img src=@ViewBag.results[i].imageUrl /></td>
        <td>@ViewBag.results[i].description</td>
    </tr>
    <tr>
        <td></td>
        <td>
        @foreach (KeyValuePair<string, string> entry in @ViewBag.results[i].identifiedAttributes)
        {
            if(!String.IsNullOrEmpty(entry.Value))
            {  
                <b>@entry.Key</b> @entry.Value <br />
            }
        }
        </td>
    </tr>
    <tr><td><br /></td></tr>
}
</table>


<!--
<img src=@ViewBag.imageUrl />
<p>@ViewBag.textResult_raw</p>
<p>@ViewBag.textResult_html</p>
<p>@ViewBag.textResult_plain</p>-->


